@mixin before_circle {
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: -25%;
		left: 0;
		width: 36px;
		height: 36px;
		border-radius: 100%;
		background: $main-color;
	}
}

@mixin adaptiveValue($property, $startSize, $minSize, $keepSize: 0, $widthFrom: $containerWidth, $widthTo: $minWidth) {
	@if ($startSize==0) {
		$startSize: 0.000001;
	}
	@if ($minSize==0) {
		$minSize: 0.000001;
	}
}
