@import "libs/bootstrap-reboot.min";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@import "base/variables";
@import "base/mixins";
* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}
.divider {
	width: 80px;
	height: 3px;
	background-color: $main-color;
	margin: 25px auto 0 auto;
}

$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1430;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

@import "blocks/promo";
@import "blocks/title";
@import "blocks/button";
@import "blocks/sidepanel";
@import "blocks/menu";
@import "blocks/about";
@import "blocks/expirience";
@import "blocks/skills";
@import "blocks/portfolio";
@import "blocks/contacts";
@import "blocks/cookies";
@import "blocks/media";
