.hamburger {
	position: fixed;
	top: 20px;
	right: 30px;
	height: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;

	cursor: pointer;
	span {
		display: block;
		width: 50px;
		height: 6px;
		background: black;
		border: 1px solid white;
	}
	span.long {
		width: 60px;
	}
}

.menu {
	position: fixed;
	top: 0;
	left: -100;
	width: 100%;
	height: 100vh;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: all 0.6s;
	&.active {
		left: 0;
		visibility: visible;
		opacity: 1;
	}
	&__block {
		position: relative;
		width: 345px;
		background-color: $main-color;
		height: 100%;
		padding-top: 140px;
		padding-left: 40px;
		transition: all 0.6s;
		z-index: 11;
	}
	&__close {
		position: absolute;
		top: 25px;
		right: 25px;
		cursor: pointer;
	}
	&__list {
		list-style: none;
		padding-left: 35px;
	}
	&__link {
		position: relative;
		font-size: 30px;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 15px;

		&:before {
			content: "";
			position: absolute;
			// left: -35px;
			top: 14px;
			left: -35px;
			width: 15px;
			height: 15px;
			border: 1px solid #000000;
			border-radius: 100%;
			transition: all 0.3s;
		}
		&:hover {
			&:before {
				background-color: black;
			}
		}
		a {
			color: white;
			-webkit-text-stroke: 0.1px black;
			text-decoration: none;
		}
	}
	&__social {
		position: absolute;
		bottom: 50px;
		width: 90px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: 0.4;
	}
}
