.portfolio {
	padding-top: 60px;
	&__title {
		text-align: center;
		position: relative;

		@include before_circle;

		&:before {
			top: -5px;
			left: 50%;
			transform: translate(-50%);
		}
	}
	&__subtitle {
		text-align: center;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 555px);
		margin-top: 60px;
		row-gap: 30px;
		column-gap: 50px;
	}
	&__item {
		transition: all 0.3s;
		img {
			width: 100%;
			padding-bottom: 10px;
		}
		&:hover {
			filter: grayscale(100%);
		}
	}
	a {
		text-decoration: none;
		text-align: center;
		font-size: 20px;
		color: black;
	}
}
