.portfolio {
	padding-top: 60px;
	&__title {
		text-align: center;
		position: relative;

		@include before_circle;

		&:before {
			top: -5px;
			left: 50%;
			transform: translate(-50%);
		}
	}
	&__subtitle {
		text-align: center;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 545px);
		margin-top: 60px;
		row-gap: 30px;
		column-gap: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}
	&__item {
		transition: all 0.3s;

		img {
			width: 100%;
			object-fit: cover;

			border: 1px solid black;
		}
		&:hover {
			filter: grayscale(100%);
		}
	}
	&__item-title {
		margin-top: 10px;
		text-align: center;
	}
}
